.gip-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: .5rem 1rem;
 border-radius: .5rem;
}
.gip-top > :where(a, p) {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
