.teacher-card {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(25% - 0.75rem);
}

.tc-top img {
  width: 100%;
  border-radius: 0.5rem;
  height: 16rem;
  object-fit: cover;
}
.tc-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.tc-bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
