.student-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
}
.student-card > div {
  flex: 1;
  overflow-x: hidden;
}
.student-card > div > p{
  max-width: 90%;
}
.student-card > div:nth-last-child(1){
  flex: .5;
}