.navbar {
  /* position: fixed; */
  /* width: 100%; */
  /* left: 0; */
  /* top: 0; */
  /* right: 0; */
  /* z-index: 1111; */
  border-bottom: 1px solid var(--grey);
  /* background: var(--primary); */
  flex: 1;
}
.navbar-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.navbar-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.logo,
.links {
  display: flex;
  align-items: center;
}

.logo {
  gap: 0.5rem;
}
.links {
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  align-items: start;
}

.links a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
.links a:hover {
  background: #2ec86650;
}
.links a div {
  width: 2rem;
}
.links a p {
  /* font-weight: bold; */
  padding: 0.5rem;
}
/* a.active {
  /* background: #2ec86650; */

.navbar-right {
  display: flex;
  width: 100%;
  /* align-items: center; */
  flex-direction: column;
}

