.sidebar{
    width: 290px;
    background-color: var(--bg-color-white);
    color: var(--gray-text-colr);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 0 20px 20px 0; */
    border: 1px solid var(--bg-blue);
}
.logo{
    color: var(--bold-text-color);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin-right: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav a,.nav_bottom a{
    margin: 2px 0;
    color: var(--gray-text-color);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    /* font-weight: 700; */
    display: flex;
    transition: .05s ease;
    align-items: center;
    width: 250px;
}
.nav a:hover{
    color: var(--text-hover-color);
    background: var(--bg-blue);
}
.nav a svg,.nav_bottom a svg{
    margin-right: 10px;
}
.nav_bottom a{
    background: var(--bg-red);
    color: rgb(255, 65, 65);
    margin-bottom: 10px;
}
.nav_bottom a:hover{
    opacity: 0.8;
}
.link_active{
    font-weight: 700;
    color: var(--text-hover-color) !important;
    background-color: var(--bg-blue);
}
