.teachers-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.teachers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tp-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tp-top button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1rem;
}
