.teachers-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.teachers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tp-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
