.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2rem;
}
.login_container {
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 1px solid var(--grey);
}
.login_container form {
  display: flex;
  flex-direction: column;
}

.login_container input {
  width: 16rem;
  padding: 10px;
  margin-top: 5px;
  outline: none;
  border: 1px solid var(--grey);
  background: var(--grey);
  color: var(--light);
  font-size: 1rem;
}
.login_container * {
  margin-top: 10px;
}
