:root {
  --primary: #191b1f;
  --secondary: #26292f;
  --light: #deeafa;
  --grey: #393e45;
  --accent: #078b37;
  --txt-grey: #7e8897;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
  background: var(--primary);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--secondary);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--grey);
}
.container {
  padding: 1rem 3%;
}
.wrapper {
  background: var(--secondary);
  border: 1px solid var(--grey);
}

.bg-dark {
  background: var(--primary);
}
.bg-dark2 {
  background: var(--secondary);
}
.bg-grey {
  background: var(--grey);
}
.bg-accent {
  background: var(--accent);
}
.text-white {
  color: var(--light);
}
.text-gray {
  color: var(--txt-grey);
}
.text-accent {
  color: var(--accent);
}

a {
  text-decoration: none;
  color: var(--light);
}
button {
  border: none;
  outline: none;
}

.def-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background: var(--accent);
  color: var(--light);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: 0.2s ease-in-out;
}
.def-btn:hover {
  opacity: 0.8;
}
